*{box-sizing:border-box;}


img{width:180px;height:100px;border-radius:60px;}
h1{font-family:arial;color:white;text-shadow:2px 3px red;font-size:2.8rem;text-align:center;}
a{text-decoration:none;color:white;padding:20px;border-radius:6px;}
.dotted-hr{border:dotted 6px white;margin:0 auto;border-bottom:none;width:280px;}
/*navbar start*/
.navbar{background-color:darkblue;
padding:2% 2%;text-align:center;
}
.navbar-menu{display:flex;flex-direction:column;padding:6px 0;}
.navbar-menu a{font-size:1.8rem;background-color:gray;padding:10px 20px;margin:10px 15px;}
.navbar-menu a:hover{background-color:blue;color:gray;}
[class*="col-"]{width:100%;}
/*navbar end*/
/*profile start*/

.profile{padding:130px 10px;position:relative;text-align:center;background-color:cadetblue;}
.top-weather-icon{position:absolute;right:100px;top:10px;transition:4s;}
.top-weather-icon img{width:120px;height:120px;border:2px solid yellow;}
.top-weather-icon:hover{transform:rotate(360deg);}
.profile-desc h1{margin-top:40px;text-shadow:3px 1px yellow;color:red;}
.profile-desc p{color:magenta;font-size:1.8rem;text-align:justify;padding:20px;}
.bottom-weather-icon{position:absolute;left:80px;top:620px;transition:width 4s,height 4s;}
.bottom-weather-icon img{width:100px;height:100px;border:2px solid yellow;}
.bottom-weather-icon img:hover{transform:width,height;width:120px;height:120px;}

.profile::after{clear:both;content:'';display:table;}
/*profile end*/

/*about me start*/
.about-me{background-color:#0c6168;padding:1% 6%;color:white;text-align:center;}
.about-me h2{text-align:center;font-size:1.8rem;}

.about-me-image img{margin-top:40px;width:220px;height:200px;border:5px solid white;border-radius:50%;}
.button{color:red;border:none;border-radius:10px;padding:10px;font-size:1.8rem;
cursor:pointer;background-color:#052d2f;margin:10px;}

.about-me::after{clear:both;content:'';display:table;}
/*about me end*/

/*professional start here*/
/*work start here*/
.professional-experience{text-align:center;padding:2% 6%;background-color:chocolate;
min-height:700px;}
.work-experience{border:2px solid gray;background-color:#a39e9e;padding:6px 6px;
                       border-radius:6px;margin:10px 10px;}
.card-icon{margin-top:6px;}
.card-icon img{width:100px;height:100px;padding:4px;border:4px solid white;}
.card-title{padding:1% 1%;}
.card-title h2{color:white;background-color:gray;padding:10px;}
.card-desc{text-align:left;}
.work-experience:hover{box-shadow:0px 2px 4px 6px black;}


/*education start here*/


.education{border:2px solid gray;background-color:#a39e9e;padding:6px 6px;
                     border-radius:6px;margin:10px 10px;}
.card-icon{margin-top:6px;}
.card-icon img{width:100px;height:100px;padding:4px;border:4px solid white;}
.card-title{padding:1% 1%;}
.card-title h2{color:white;background-color:gray;padding:10px;}
.card-desc{text-align:left;}
.education:hover{box-shadow:0px 2px 4px 6px black;}
/*education end here*/
/*skill start here*/
.skill{border:2px solid gray;background-color:#a39e9e;padding:6px 6px;
                     border-radius:6px;margin:10px 10px;}
.card-icon{margin-top:6px;}
.card-icon img{width:100px;height:100px;padding:4px;border:4px solid white;}
.card-title{padding:1% 1%;}
.card-title h2{color:white;background-color:gray;padding:10px;}
.card-desc{text-align:left;}
.skill:hover{box-shadow:0px 2px 4px 6px black;}
.skill-container{padding-right:45px;margin-top:-33px;}

.skill-container li{list-style:none;font-weight:bolder;position:relative;
          margin:30px 8px;text-transform:uppercase;}
.skill-container li::before{
                          content:'';
						  width:100%;
						  top:calc(100% + 5px);
						  left:0;
						  height:16px;
						  background-color:rgb(86,86,153,9);
						  position:absolute;border-radius:1000px;}
.skill-container li::after{
                          content:'';
						  position:absolute;
						  width:0;
						  top:calc(100% + 5px);
						  left:0;
						  height:16px;
						  background-color:rgb(86,86,153,.1);
						  border-radius:1000px;
						  
						  animation-duration:5s;
						  animation-delay:1s;
						  animation-timing-function:linear;
						  animation-iteration-count:infinite;
						  animation-fill-mode:forwards;}
.skill-container li.html::after{
               animation-name: html;
			   }

      @keyframes html{
                 to{
				 width:90%;
				 background-color:brown;
				 }
				 }	
.skill-container li.css::after{
               animation-name: css;
			   }

      @keyframes css{
                 to{
				 width:70%;
				 background-color:red;
				 }
				 }
.skill-container li.bs::after{
               animation-name: bs;
			   }

      @keyframes bs{
                 to{
				 width:65%;
				 background-color:yellow;
				 }
				 }
.skill-container li.javascript::after{
               animation-name: javascript;
			   }

      @keyframes javascript{
                 to{
				 width:60%;
				 background-color:lime;
				 }
				 }
.skill-container li.php::after{
               animation-name: php;
			   }

      @keyframes php{
                 to{
				 width:70%;
				 background-color:magenta;
				 }
				 }
.skill-container li.mysql::after{
               animation-name: mysql;
			   }

      @keyframes mysql{
                 to{
				 width:90%;
				 background-color:tomato;
				 }
				 }		
.skill-container li.wordpress::after{
               animation-name: wordpress;
			   }

      @keyframes wordpress{
                 to{
				 width:90%;
				 background-color:indigo;
				 }
				 }				 
/*skill end here*/
.professional-experience::after{clear:both;content:'';display:table;}
/*professional end here*/

/*achievement-contract start here*/
.achievement-contract{padding:1% 4%;background-color:#39a4ac;color:white;}
.achievement{text-align:center;}
.achievement h2{font-size:1.8rem;}
.achievement p{text-align:left;}
/*achievement-contract end here*/
/*achievement-contract start here*/
.contract{text-align:center;}
.contract h2{text-align:center;font-size:1.8rem;}
.contract input,textarea{width:100%;padding:10px;font-size:1rem;text-align:center;border:none;
border-radius:6px;resize:none;}
.contract button{border:none;border-radius:12px;background-color:#052d2f;color:white;
                  cursor:pointer;padding:15px;margin:10px;width:100px;}
				  
				  
.contract-links h2{text-align:center;font-size:1.8rem;}


.contract-icon{margin-top:20px;margin-left:60px;width:400px;}
.contract-icon img{border-radius:40px;width:60px;height:60px;padding:10px 8px;cursor:pointer;}

				  /*achievement-contract end here*/
.achievement-contract::after{clear:both;content:'';display:table;}

/*achievement-contract end here*/




/*footer starts here*/
.footer{background-color:black;color:white;
            padding:20px;text-align:center;font-size:1rem;

}
.footer-menu{}

.footer-menu a{display:block;margin:15px 0;font-size:1.8rem;}
.footer-menu a:hover{color:gray;background-color:red;}
.footer-desc{font-size:1.8rem;}

.span{font-size:2rem;color:red;}

.footer::after{content:'';display:table;clear:both;}

/*footer ends here*/
